body {
    /*background-color: rgb(70, 142, 236);*/
    display: none;
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.350);
}

article {
    text-align: center;
    padding: 10px;
}

#quadro-foto {
    margin: auto;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    overflow: hidden;
}

img {
    object-fit: cover;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}